.imageweb3{
   width: 800px;
   height: 496px;
   margin-left: 105px;
   margin-top: 15px;
}
.imagelogo{
   margin-left: 163px;
   margin-top: 77px;

}
.menu {
   display: -webkit-box;
   margin-left: 767px;
   margin-top: -35px;
   font-size: x-large;
 }
.box2{
   width: 484px;
   height: 889px;
   margin-left: 919px;
   margin-top: -523px;
   background: hsl(240, 100%, 5%);
}
.box2 h1{
   color: orange;
}
.box2 h3{
   color: #fff;
   padding-top: 15px;
}
.box2 h3:hover {
   color: orange;
   margin-left: 12px;
 }
 .box2 p {
   padding-top: 10px;
   color: hsl(233, 8%, 79%);
   padding-bottom: 20px;
 }